@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --vdark-cyan: hsl(179, 100%, 13%);
  --trans-white: hsl(0, 0%, 100%, 0.75);
  --vlight-gray: hsl(0, 0%, 95%);
  --fnt-lexend: "Lexend Deca";
  --fnt-bigshoulders: "Big Shoulders Display";
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--vlight-gray);
  font-size: 15px;
}

.column-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-layout {
  display: flex;
  width: 52rem;
}

.sedans {
  padding: 2em;
  background-color: var(--bright-orange);
  border-radius: 5px 0 0 5px;
}

.suv {
  padding: 2em;
  background-color: var(--dark-cyan);
}

.luxury {
  padding: 2rem;
  background-color: var(--vdark-cyan);
  border-radius: 0 5px 5px 0;
}

.car-heading {
  text-transform: uppercase;
  font-family: var(--fnt-bigshoulders);
  color: var(--vlight-gray);
  font-size: 3rem;
  margin: 0.5em 0;
}

.car-text {
  font-family: var(--fnt-lexend);
  color: var(--trans-white);
  margin-bottom: 5em;
}

[class*="btn"] {
  padding: 1em 2em;
  border-radius: 2rem;
  font-family: var(--fnt-lexend);
  border: 2px solid var(--vlight-gray);
  background-color: var(--vlight-gray);
  margin-bottom: 1em;
}

.btn-sedans {
  color: var(--bright-orange);
}

.btn-suv {
  color: var(--dark-cyan);
}

.btn-luxury {
  color: var(--vdark-cyan);
}

button:hover {
  background-color: transparent;
  cursor: pointer;
  color: var(--vlight-gray);
}

@media screen and (max-width: 600px) {
  .column-container {
    margin: 2rem;
  }

  .column-layout {
    flex-direction: column;
  }

  .sedans {
    border-radius: 5px 5px 0 0;
  }

  .luxury {
    border-radius: 0 0 5px 5px;
  }
}

@media (hover: none) {
  button:active {
    background-color: transparent;
    cursor: pointer;
    color: var(--vlight-gray);
  }
}
